body{
   background-color:#020612 ; 
   font-family: "anth", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: #BBD0EF;
}

.title {
    text-align: center;
    margin-top: 20px;
    
}

/* nav */

.nav-container {
  position: relative; /* Required for absolute positioning */
  text-align: center; /* Center-align the title */
  animation: fade-in 4s ease forwards;
}

.nav-button {
  text-decoration: none; /* Remove text decoration */
  color: #BBD0EF;
  font-size: 14px;
  position: absolute; /* Position absolutely */
  top: -45px; /* Align with the top of the container */
}

.nav-button.prev {
  left: 20px; /* Align to the left of the container */
}

.nav-button.next {
  right: 20px /* Align to the right of the container */
}

@keyframes fade-in {
  from {
      opacity: 0; /* Start with opacity 0 */
  }
  to {
      opacity: 1; /* Fade in to opacity 1 */
  }
}



/* Adjusted other styles as necessary */



.container {
    opacity: 0; 
    animation: appear 1s ease-in-out 3s forwards; 
}

@keyframes appear {
    to {
        opacity: 1; 
    }
}





  .opening 
  {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
   font-weight: 600;
   font-style: italic;
  }



  .para1 {

    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    opacity: 0; 
    transition: opacity 0.5s ease;
  }



 .para2 {

    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .para3 {

    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    opacity: 0; 
    transition: opacity 0.5s ease;
    
  }

  

  




  .e1 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e2 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e3 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e4 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }




  .para4 {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
    font-weight: 600;
    font-style: italic;
  }



  .para5 {

    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    opacity: 0; 
    transition: opacity 0.5s ease;
  }


  .e5 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .para6 {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
    font-weight: 600;
    font-style: italic;
  }


  .para7 {
    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    opacity: 0; 
    transition: opacity 0.5s ease;
  }

 

  .e6 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e7 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .ending {
    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

 

  .question {

   
    font-size: 28px;
    font-family: "anth", sans-serif;
   font-weight: 600;
   font-style: italic;
    
  }
  
 

.answer {

 
 
    font-size: 28px;
    font-family: "anth", sans-serif;
   font-weight: 600;
   font-style: italic;
   opacity: 0; 
    transition: opacity 0.5s ease;
   
  }


 


  .goodbye {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 200px;
  }

 

  @keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0.5;
    }
}


  .goodbye.blink {
    animation: blink 1s infinite;
    animation-delay: 5s; /* Starts the animation after 5 seconds */
  }
 