body{
   background-color:#020612 ; 
   font-family: "anth", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: #BBD0EF;
}

.title {
    text-align: center;
    margin-top: 20px;
    
}



  .opening 
  {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
   font-weight: 600;
   font-style: italic;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}


  .para1 {

    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}


  .para2 {

    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}


  .para3 {

    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}



  .e1 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e2 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e3 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e4 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .para4 {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}


  .para5 {

    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}


  .e5 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .para6 {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "anth", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}

  .para7 {
    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}

  .e6 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .e7 {
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
  }

  .ending {
    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}

  .question {
    max-width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}


  .goodbye {
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 200px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
}


  @keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0.5;
    }
}


  .goodbye.blink {
    animation: blink 1s infinite;
    animation-delay: 5s; /* Starts the animation after 5 seconds */
  }
 