body {
    background-color:#BBD0EF;
    cursor: url('/Users/anoushka/Documents/GitHub/on-beginnings/02_conflict/imgs/blue.png'), auto;
    font-family: "anth", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #384A84;
    margin: 0;
}


.title {

  text-align: center;
  margin-top: 50px;
  
}


.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    font-size:24vw;
  }


  .container {
    position: relative;

  }
  
  
  .word {
    font-size: 24px;
    margin: 0 18px;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    font-family: "anth", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #384A84;
    margin-top: -60px;
  }
  
  .word:nth-child(1) {
    animation-delay: 4s;
  }
  
  .word:nth-child(2) {
    animation-delay: 6s;
  }
  
  .word:nth-child(3) {
    animation-delay: 8s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .typing {
   
    max-width: 30%;
    margin:auto;
    text-align: center;
    justify-content: center;
    font-size: 20px;
  }

  .section {
    font-size: 22px;
  }

  .para1 {
    font-size: 18px;
    max-width: 40%;
    margin:auto;
    text-align: center;
    justify-content: center;
  }
.e {
  font-family: "anth", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  .e1 {
    font-family: "anth", sans-serif;
    font-weight: 700;
    font-style: italic;
    opacity: 0; 
    transition: opacity 0.5s ease;
  }

  

  .para2 {
    font-size: 18px;
    max-width: 40%;
    margin:auto;
    text-align: center;
    justify-content: center;
  }





@keyframes fade-in-content {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.content {
  opacity: 0; /* Initially hide content */
  animation: fade-in-content 1s ease forwards;
  animation-delay: 25s; /* Delay the animation for 25 seconds */
}



  